.app {
  width: 800px;
  height: 600px;
  background-color: #aaa;
  position: relative;
  overflow: hidden;

  .snow {
    width: 8px;
    height: 8px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
    opacity: 0.8;
    pointer-events: none;
    position: absolute;
  }
}